@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gracias</h1>
    <p>About Me<a href="https://github.com/walbhota" target="_blank">J8</a>.</p>
</div>
